@media (max-width:575px) {
  .col-form-label {
      text-align: left !important;
  }
}

@media (max-width:767px) {
  .input-part {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .terms {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .reser-first, .reser-second {
    margin-left: 0px !important;
  }
}

html, body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Nanum Gothic', sans-serif;
}

/* 메인 페이지 타이틀 뒷배경 */
.blok1 {
position: relative;
/* top:-52px; */
height: 300px;
background-image: url(../img/reser.jpg);
background-position: center center;
background-size: cover;
}

/* STEP1 */
/* 입력하는 부분 */
#sub-title {
  font-size: 20px;
  font-weight: bold;
}
#customer-icon {
  width:auto;
  height:30px;
  padding-right:5px;
}
.input-part {
  padding-top: 70px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom:30px;
}

.col-form-label {
    text-align: right;
    font-weight: bold;
}

#one-main-text {
  /* width: 100%;
  position: absolute; */
  padding: 100px 0;
  font-size: 3em;
  font-family: sans-serif;
  text-align: center;
  color : white;
}

#content {
  width:auto;
  height: 200px;
  overflow-y: scroll;

}
.terms {
  margin-left:100px;
  margin-right:100px;
}
.btn-primary {
  background-color: white;
  color: black;
  border-color: #ccc;
}

.btn-primary:hover {
  background-color: #cccccca8;
  color: black;
  border-color: #ccc;

}

#nextBtn {
  margin-left:10px;
}

/* footer 부분 */
.main-footer{
  height: 150px;
  width: auto;
  background-color: black;
}

.address, .bus, .call {
  margin-bottom: 15px;
}

.location-and-Phonenumber {
  padding: 15px 15px;
}
.copyright {
  /*margin-top: 50px;*/
  text-align: center;
}

/* STEP2 */
.reser-first {
  margin-top: 52px;
  margin-left:20px;
}
.reser-second {
  height: auto;
  margin-top: 30px;
  margin-left:20px;
  margin-right:20px;
}

#prevMonthBtn, #afterMonthBtn {
  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: 25%;
}

#prevMonthBtn:hover, #afterMonthBtn:hover {
  border-radius: 25%;
  background-color: #ebebe0;
}

.table-label {
  font-weight: bold;
  padding-right:5px;
  font-size:20px;
  text-align: left;
  /*padding-right: 50px;*/
  width:100px;
}
.table {
  height:auto;
  border:1px solid #dee2e6;
}
.table td {
  padding: 8px;
}

#date-sel {
  font-size:15px;
  background-color:rgb(233, 150, 122);
  height:40px;
  color:white;
}
.detail-option {
  margin-top:30px;
  text-align:center;
}
#select-view {
  margin: auto;
}

/* STEP3 */
/* 예약 내역 확인하는 부분 */
.card-header {
  font-weight: bold;
}
#move-btn {
  text-align:center;
  padding-top:25px;
  padding-bottom:50px;
}
